.form{
    display: flex;
    justify-content: left;
    height: 2rem;
    max-width: 60%;
    margin: auto;
}

.textfield {
    font-size: 0.7em;
    padding-left: 0.5vw;
    margin-right: 2vw;
    border: solid rgba(205, 139, 87);
    background-color: rgba(205,139,87,0.55);
    border-radius: 0.5rem;
    height: 100%;
    margin-top: 10rem;
    padding: 5px 10 px;
    box-shadow: 0px 5px 10 px rgba(205, 139, 87, 55);
    box-sizing: border-box;

}

input::placeholder {
    font-weight:lighter;
    font-size: 70%;
    color: rgba(205, 139, 87);
}

.textfield:focus {
    outline: none !important;
    box-shadow: 0px 5px 5px rgba(218, 218, 218);
}

.submit-btn {
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(0,0,0,0.33);
    -webkit-box-shadow: 2px 3px rgba(0,0,0,0.78);
    box-shadow: 2px 2px rgba(0,0,0,0.33);
    border-radius: 10px;
    height: 100%;
    margin-left: 5px;
    margin-top: 10rem;
    box-sizing: border-box;
}

.submit-btn:hover {
    box-shadow: 0px 3px 1pc rgba(0,0,0,0.33);
}
